<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>

<form th:action="@{/handle-submit}" method="post" th:object="${personDTO}" enctype="multipart/form-data">
    <div>
        <label for="">ID</label> <br>
        <input type="number" th:field="*{id}">
        <p
                class="error"
                th:if="${#fields.hasErrors('id')}"
                th:errors="*{id}"
        ></p>
    </div>
    <div>
        <label for="">Name</label> <br>
        <input type="text" th:field="*{name}">
        <p
                class="error"
                th:if="${#fields.hasErrors('name')}"
                th:errors="*{name}"
        ></p>
    </div>
    <div>
        <label for="">Gender</label> <br>
        <select th:field="*{gender}">
            <option value="MALE">Male</option>
            <option value="FEMALE">Female</option>
            <option value="OTHER">Other</option>
        </select>
        <p
                class="error"
                th:if="${#fields.hasErrors('gender')}"
                th:errors="*{gender}"
        ></p>
    </div>
    <div>
        <label for="">Date Of Birth</label> <br>
        <input type="date" th:field="*{dateOfBirth}">
        <p
                class="error"
                th:if="${#fields.hasErrors('dateOfBirth')}"
                th:errors="*{dateOfBirth}"
        ></p>
    </div>
    <div>
        <label for="">Age</label> <br>
        <input type="number" th:field="*{age}">
        <p
                class="error"
                th:if="${#fields.hasErrors('age')}"
                th:errors="*{age}"
        ></p>
    </div>
    <div>
        <label for="">Email</label> <br>
        <input type="text" th:field="*{email}">
        <p
                class="error"
                th:if="${#fields.hasErrors('email')}"
                th:errors="*{email}"
        ></p>
    </div>
    <div class="form-group">
        <label for="">Avatar</label>
        <input type="file" class="form-control-file" th:field="*{avatar}">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>

</body>
</html>