<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/view-add}">Thêm bạn mới</a>
<table border="1" cellspacing="10" cellpadding="10">
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Gender</th>
        <th>DOB</th>
        <th>Age</th>
        <th>Email</th>
        <th colspan="2">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each=" p : ${persons}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.gender}"></td>
        <!-- nếu dùng util.Date thì sử dụng #dates.format còn dùng Datetime API thì dùng #temporals.format() -->
        <td th:text="${#temporals.format(p.dateOfBirth,'dd/MM/yyyy')}"></td>
        <td th:text="${p.age}"></td>
        <td th:text="${p.email}"></td>
        <td>
            <a th:href="@{| /view-edit/${p.id} |}">Sửa</a>
        </td>
        <td>
            <a href="">Xoá</a>
        </td>
    </tr>
    </tbody>
</table>

</body>
</html>